<%- include('partials/header') %>

<h1 class="compose-header">Edit Settings</h1>
<form class="form-g" action="/" method="post">
  <div class="form-group">
    <input class="form-control inp inp" type="text" name="postTitle" value="" placeholder="Image URL">
    <input class="form-control inp inp" type="text" name="postTitle" value="User7702" placeholder="Change User Name">
    <textarea class="form-control inp" name="postBody" rows="5" cols="30" placeholder="Edit Bio"></textarea>
    <input class="form-control inp" type="text" name="postTag" value="User@gmail.com" placeholder="Change your Email">
    <input class="form-control inp" type="text" name="postTitle" value="" placeholder="Change your password">
  </div>
  <button class="btn btn-primary btn-lg" type="submit" name="button">Update Profile</button>
</form>
</div>

<%- include('partials/footer') %>
